<p>
  The key objective of<a href="{{site.cr_site}}">Code refinery</a> workshop is to grow researchers’ software best
  practices skills to facilitate open and reproducible research. The workshops focus on methods to build modular,
  reusable, maintainable, sustainable, reproducible, testable, and robust software. It is assumed that participants
  already write code for their research, but no expertise is required. Some experience in navigating the file tree and
  editing files in a terminal session is recommended. Familiarity with Python programming basics is expected.
</p>
