<h3>Install following software</h3>

<h4>Python and required packages</h4>
Follow <a href="https://coderefinery.github.io/installation/python/">Python installation instructions</a>.

<h4>Git</h4>
Follow <a href="https://coderefinery.github.io/installation/git/">Git installation</a>
<a href="https://coderefinery.github.io/installation/git/#configuring-git">configure</a >
and <a href="https://coderefinery.github.io/installation/git/#how-to-verify-the-installation">verify</a> it.

<h4>GitHub</h4>
<a href="https://github.com/join">Create GitHub account.</a>
