


<div class="row">
    <div class="col-md-6">
      <h3 id="syllabus-git">Introduction to Version Control with Git</h3>
      <ul>
        <li>Creating a Repository</li>
        <li>Recording Changes to Files: <code>add</code>, <code>commit</code>, ...</li>
        <li>Viewing Changes: <code>status</code>, <code>diff</code>, ...</li>
        <li>Ignoring Files</li>
        <li>Working on the Web: <code>clone</code>, <code>pull</code>, <code>push</code>, ...</li>
        <li>Resolving Conflicts</li>
        <li>Open Licenses</li>
        <li>Where to Host Work, and Why</li>
        <li><a href="{{site.swc_pages}}/git-novice/reference">Reference...</a></li>
      </ul>
    </div>
    <div class="col-md-6">
    <h3 id="syllabus-coderefinery-git">Collaboration with Git and Github</h3>
    <ul>
      <li><a href="https://coderefinery.github.io/git-collaborative/01-remotes/">Concepts around collaboration</a></li>
      <li><a href="https://coderefinery.github.io/git-collaborative/02-centralized/">Centralized workflow</a></li>
      <li><a href="https://coderefinery.github.io/git-collaborative/03-distributed/">Distributed version control and forking</a></li>
      <li><a href="https://coderefinery.github.io/git-collaborative/04-contributing/">How to contribute changes to somebody else's project</a></li>
      <li><a href="https://coderefinery.github.io/git-collaborative/05-hooks/">(Optional) Hooks</a></li>
   </ul>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h3 id="syllabus-coderefinery-testing">Testing (tentative)</h3>
    <ul>
      <li><a href="https://coderefinery.github.io/testing/motivation/">Motivation</a></li>
      <li><a href="https://coderefinery.github.io/testing/concepts/">Concepts</a></li>
      <li><a href="https://coderefinery.github.io/testing/pytest/">Pytest</a></li>
      <li><a href="https://coderefinery.github.io/testing/test-design/">Test design</a></li>
   </ul>
  </div>

  <div class="col-md-6">
    <h3 id="syllabus-coderefinery-modularcode">Modular Code Development</h3>
    <ul>
      <li>Pure Functions</li>
      <li>Limiting side effects of functions and data</li>
      <li>The Zen of Python</li>
      <li>Single- vs multi-purpose functions</li>
   </ul>
</div>
<div class="row">
  </div>
    <div class="col-md-6">
    <h3 id="syllabus-coderefinery-ci">Continuous Integration</h3>
    <ul>
      <li>Continuous integration with GitHub</li>
   </ul>
  </div>
  <div class="col-md-6">
    <h3 id="syllabus-coderefinery-documentation">Code Documentation</h3>
    <ul>
      <li><a href="https://escience-academy.github.io/coderefinery-documentation/01-why-documentation/">Motivation</a></li>
      <li><a href="https://escience-academy.github.io/coderefinery-documentation/02-in-code-documentation/">In-code documentation</a></li>
      <li><a href="https://escience-academy.github.io/coderefinery-documentation/03-readme/">Writing good README files</a></li>
      <li><a href="https://escience-academy.github.io/coderefinery-documentation/04-sphinx/">Sphinx and ReadtheDocs demo</a></li>
      <li><a href="https://escience-academy.github.io/coderefinery-documentation/05-gh-pages/">Hosting websites/homepages on GitHub Pages</a></li>
    </ul>
  </div>
</div>

