


<div class="row">
    <div class="col-md-6">
    <h3 id="syllabus-coderefinery-git-intro"></h3>
    <ul>
      <li><a href="https://coderefinery.github.io/git-intro/01-motivation/">Movitation</a></li>
      <li><a href="https://coderefinery.github.io/git-intro/02-basics/">Basics</a></li>
      <li><a href="https://coderefinery.github.io/git-intro/04-staging-area/">Using the Git staging area</a></li>
      <li><a href="https://coderefinery.github.io/git-intro/05-undoing/">Undoing things</a></li>
      <li><a href="https://coderefinery.github.io/git-intro/06-branches/">Branching and merging</a></li>
      <li><a href="https://coderefinery.github.io/git-intro/08-conflicts/">Conflict resolution</a></li>
   </ul>
  </div>
    <div class="col-md-6">
    <h3 id="syllabus-coderefinery-git">Collaboration with Git and Github (tentative)</h3>
    <ul>
      <li><a href="https://coderefinery.github.io/git-collaborative/01-remotes/">Concepts around collaboration</a></li>
      <li><a href="https://coderefinery.github.io/git-collaborative/02-centralized/">Centralized workflow</a></li>
      <li><a href="https://coderefinery.github.io/git-collaborative/03-distributed/">Distributed version control and forking</a></li>
      <li><a href="https://coderefinery.github.io/git-collaborative/04-contributing/">How to contribute changes to somebody else's project</a></li>
      <li><a href="https://coderefinery.github.io/git-collaborative/05-hooks/">(Optional) Hooks</a></li>
   </ul>
  </div>

  <div class="col-md-6">
    <h3 id="syllabus-coderefinery-testing">Testing (tentative)</h3>
    <ul>
      <li><a href="https://coderefinery.github.io/testing/motivation/">Motivation</a></li>
      <li><a href="https://coderefinery.github.io/testing/concepts/">Concepts</a></li>
      <li><a href="https://coderefinery.github.io/testing/pytest/">Pytest</a></li>
      <li><a href="https://coderefinery.github.io/testing/test-design/">Test design</a></li>
   </ul>
  </div>

  <div class="col-md-6">
    <h3 id="syllabus-coderefinery-modularcode">Modular Code Development</h3>
    <ul>
      <li>Pure Functions</li>
      <li>Limitting side effects of functions and data</li>
      <li>The Zen of Python</li>
      <li>Single- vs multi-purpose functions</li>
   </ul>
  </div>
    <div class="col-md-6">
    <h3 id="syllabus-coderefinery-ci">Continuous Integration</h3>
    <ul>
      <li>Continuous integration with github</li>
   </ul>
  </div>
  <div class="col-md-6">
    <h3 id="syllabus-coderefinery-documentation">Code Documentation (tentative)</h3>
    <ul>
      <li><a href="https://coderefinery.github.io/documentation/01-wishlist/">Motivation</a></li>
      <li><a href="https://coderefinery.github.io/documentation/03-tools/">Tools</a></li>
      <li>Writing good docstrings</li>
      <li>Writing good Readme files</li>
    </ul>
  </div>
</div>

